
/*General Style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Play", sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Style Header*/
header{
   padding: 40px 4%; 
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    font-size: 18px;
    color: rgb(173, 173, 173);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: white;
    transform: scale(1.05);
    text-shadow: 8px 8px 8px white;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: white; 
    background-color:black;
    border-radius: 30px;
    border-color: yellow;
    cursor: pointer;
}

header .btn-contato button:hover{
    box-shadow: 0px 0px 20px rgb(255, 255, 0);
}

/* Web Header Style */
section.topo-do-site{
    padding:40px 4%;
}

section.topo-do-site .flex{
    align-items:center;
    justify-content: center;
    gap: 80px;
}

.topo-do-site h1{
    color: white;
    font-size: 50px;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
    font-size: 20px;
}

.topo-do-site .txt-topo-site .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color:yellow;
    margin: 0 7px;
}

.topo-do-site .btn-social button:hover{
    box-shadow: 0px 0px 26px rgb(111, 0, 255);
    transform: scale(1.05);
}


/* ESTILO DO SOBRE */
section.sobre{
    padding: 90px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 80px;
}

.sobre .txt-sobre p{
    color: white;
    font-size: 20px;
    margin: 40px 0;
}

.sobre h2{
    color: white;
    font-size: 50px;
}
